body {
    font-family: 'Quicksand', sans-serif;
}

h2 {
    font-weight: 400;
}

p {
    font-weight: 300;
}

.container {
    margin: 0, auto;
    width: 90%;
}

.flex {
    display: flex;
    flex-wrap: center;
}

.text-center{
    text-align: center;
    margin-right: 100px;
}

.columna{
    background: rgb(228, 228, 228);
    color: #333;
    border: 1px solid #333;
    margin: 0 auto;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 10px 10px 5px #888;
    width: 23%;
    box-sizing: border-box;
}

.precio{
    font-size: 50px;
    color:rgb(74, 182, 182);
}

.btn-precio{
    background: salmon;
    display: block;
    padding:10px;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-left: 12px;
    margin-right: 12px;
}

@media (max-width: 1070px){
    .columna{
        width: 45%;
    }
}